<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	id="me.rost.myplugin" 
	version="0.0.1">
    <name>MyPlugin</name>
	<license>MIT</license>
    <description>Cordova Plugin Template</description>
    <keywords></keywords>

    <js-module src="www/myplugin.js" name="myplugin">
	<!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="myplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyPlugin" >
                <param name="android-package" value="com.example.MyPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/MyPlugin.java" target-dir="src/me/rost/myplugin/" />
    </platform>
	
	<platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="ios-package" value="CDVMyPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVMyPlugin.h" />
        <source-file src="src/ios/CDVMyPlugin.m" />
    </platform>

	 <!--permissions-->
    <config-file parent="/manifest" target="AndroidManifest.xml">
           <!--example-->
            <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    </config-file>
</plugin>
